body {
  background-color: #2c3e50;
  text-align: center;
}

.indicator {
  font-size: 100px;
  vertical-align: top;
}
.indicator.minus {
  color: #e74c3c;
  margin-right: 30px;
}
.indicator.plus {
  color: #2ecc71;
  font-weight: bold;
  margin-left: 30px;
}

.wrapper {
  min-width: 700px;
  font-size: 0;
  margin-top: 40px;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

label {
  display: inline-block;
  position: relative;
  width: 5px;
  opacity: 1;
  cursor: pointer;
  background-color: #1a242f;
}
label:before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  border-style: solid;
  border-width: 0 0px 1px 5px;
  border-color: transparent transparent #1a242f transparent;
}
label.label-rank-1 {
  height: 1px;
}
label.label-rank-2 {
  height: 2px;
}
label.label-rank-3 {
  height: 3px;
}
label.label-rank-4 {
  height: 4px;
}
label.label-rank-5 {
  height: 5px;
}
label.label-rank-6 {
  height: 6px;
}
label.label-rank-7 {
  height: 7px;
}
label.label-rank-8 {
  height: 8px;
}
label.label-rank-9 {
  height: 9px;
}
label.label-rank-10 {
  height: 10px;
}
label.label-rank-11 {
  height: 11px;
}
label.label-rank-12 {
  height: 12px;
}
label.label-rank-13 {
  height: 13px;
}
label.label-rank-14 {
  height: 14px;
}
label.label-rank-15 {
  height: 15px;
}
label.label-rank-16 {
  height: 16px;
}
label.label-rank-17 {
  height: 17px;
}
label.label-rank-18 {
  height: 18px;
}
label.label-rank-19 {
  height: 19px;
}
label.label-rank-20 {
  height: 20px;
}
label.label-rank-21 {
  height: 21px;
}
label.label-rank-22 {
  height: 22px;
}
label.label-rank-23 {
  height: 23px;
}
label.label-rank-24 {
  height: 24px;
}
label.label-rank-25 {
  height: 25px;
}
label.label-rank-26 {
  height: 26px;
}
label.label-rank-27 {
  height: 27px;
}
label.label-rank-28 {
  height: 28px;
}
label.label-rank-29 {
  height: 29px;
}
label.label-rank-30 {
  height: 30px;
}
label.label-rank-31 {
  height: 31px;
}
label.label-rank-32 {
  height: 32px;
}
label.label-rank-33 {
  height: 33px;
}
label.label-rank-34 {
  height: 34px;
}
label.label-rank-35 {
  height: 35px;
}
label.label-rank-36 {
  height: 36px;
}
label.label-rank-37 {
  height: 37px;
}
label.label-rank-38 {
  height: 38px;
}
label.label-rank-39 {
  height: 39px;
}
label.label-rank-40 {
  height: 40px;
}
label.label-rank-41 {
  height: 41px;
}
label.label-rank-42 {
  height: 42px;
}
label.label-rank-43 {
  height: 43px;
}
label.label-rank-44 {
  height: 44px;
}
label.label-rank-45 {
  height: 45px;
}
label.label-rank-46 {
  height: 46px;
}
label.label-rank-47 {
  height: 47px;
}
label.label-rank-48 {
  height: 48px;
}
label.label-rank-49 {
  height: 49px;
}
label.label-rank-50 {
  height: 50px;
}
label.label-rank-51 {
  height: 51px;
}
label.label-rank-52 {
  height: 52px;
}
label.label-rank-53 {
  height: 53px;
}
label.label-rank-54 {
  height: 54px;
}
label.label-rank-55 {
  height: 55px;
}
label.label-rank-56 {
  height: 56px;
}
label.label-rank-57 {
  height: 57px;
}
label.label-rank-58 {
  height: 58px;
}
label.label-rank-59 {
  height: 59px;
}
label.label-rank-60 {
  height: 60px;
}
label.label-rank-61 {
  height: 61px;
}
label.label-rank-62 {
  height: 62px;
}
label.label-rank-63 {
  height: 63px;
}
label.label-rank-64 {
  height: 64px;
}
label.label-rank-65 {
  height: 65px;
}
label.label-rank-66 {
  height: 66px;
}
label.label-rank-67 {
  height: 67px;
}
label.label-rank-68 {
  height: 68px;
}
label.label-rank-69 {
  height: 69px;
}
label.label-rank-70 {
  height: 70px;
}
label.label-rank-71 {
  height: 71px;
}
label.label-rank-72 {
  height: 72px;
}
label.label-rank-73 {
  height: 73px;
}
label.label-rank-74 {
  height: 74px;
}
label.label-rank-75 {
  height: 75px;
}
label.label-rank-76 {
  height: 76px;
}
label.label-rank-77 {
  height: 77px;
}
label.label-rank-78 {
  height: 78px;
}
label.label-rank-79 {
  height: 79px;
}
label.label-rank-80 {
  height: 80px;
}
label.label-rank-81 {
  height: 81px;
}
label.label-rank-82 {
  height: 82px;
}
label.label-rank-83 {
  height: 83px;
}
label.label-rank-84 {
  height: 84px;
}
label.label-rank-85 {
  height: 85px;
}
label.label-rank-86 {
  height: 86px;
}
label.label-rank-87 {
  height: 87px;
}
label.label-rank-88 {
  height: 88px;
}
label.label-rank-89 {
  height: 89px;
}
label.label-rank-90 {
  height: 90px;
}
label.label-rank-91 {
  height: 91px;
}
label.label-rank-92 {
  height: 92px;
}
label.label-rank-93 {
  height: 93px;
}
label.label-rank-94 {
  height: 94px;
}
label.label-rank-95 {
  height: 95px;
}
label.label-rank-96 {
  height: 96px;
}
label.label-rank-97 {
  height: 97px;
}
label.label-rank-98 {
  height: 98px;
}
label.label-rank-99 {
  height: 99px;
}
label.label-rank-100 {
  height: 100px;
}

.light-bulb {
  position: relative;
  margin-top: 150px;
  text-align: center;
}
.light-bulb .base {
  display: inline-block;
  position: relative;
}
.light-bulb .base .bulb {
  position: relative;
  z-index: 1;
  width: 320px;
  height: 320px;
  border: 3px solid #d0d0d0;
  background-color: #f8e287;
  box-shadow: 0 0 50px #f8e287;
  border-radius: 100%;
  -webkit-transition: all .6s;
          transition: all .6s;
}
.light-bulb .base .content {
  position: relative;
  z-index: 2;
  width: 160px;
  height: 80px;
  border-radius: 8px;
  background-color: #555555;
  margin: -25px auto 0;
}
.light-bulb .base .content .line {
  width: 176px;
  height: 14.54545px;
  margin-bottom: 12.30769px;
  margin-left: -8px;
  border-radius: 20px;
  background-color: #888888;
}
.light-bulb .base .footer {
  position: relative;
  z-index: 1;
  width: 80px;
  height: 53.33333px;
  margin-top: -26.66667px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  background-color: #333333;
}

input {
  display: none;
}
input:checked ~ label {
  opacity: 0.5;
}
.light-bulb-0 .base .bulb {
  box-shadow: 0 0 0px #f1c511;
  background-color: #f1c500;
}
.light-bulb-1 .base .bulb {
  box-shadow: 0 0 2px #f1c511;
  background-color: #f1c511;
}
.light-bulb-2 .base .bulb {
  box-shadow: 0 0 4px #f1c514;
  background-color: #f1c514;
}
.light-bulb-3 .base .bulb {
  box-shadow: 0 0 6px #f1c616;
  background-color: #f1c616;
}
.light-bulb-4 .base .bulb {
  box-shadow: 0 0 8px #f2c619;
  background-color: #f2c619;
}
.light-bulb-5 .base .bulb {
  box-shadow: 0 0 10px #f2c71b;
  background-color: #f2c71b;
}
.light-bulb-6 .base .bulb {
  box-shadow: 0 0 12px #f2c81d;
  background-color: #f2c81d;
}
.light-bulb-7 .base .bulb {
  box-shadow: 0 0 14px #f2c820;
  background-color: #f2c820;
}
.light-bulb-8 .base .bulb {
  box-shadow: 0 0 16px #f2c922;
  background-color: #f2c922;
}
.light-bulb-9 .base .bulb {
  box-shadow: 0 0 18px #f2c925;
  background-color: #f2c925;
}
.light-bulb-10 .base .bulb {
  box-shadow: 0 0 20px #f2ca27;
  background-color: #f2ca27;
}
.light-bulb-11 .base .bulb {
  box-shadow: 0 0 22px #f3cb2a;
  background-color: #f3cb2a;
}
.light-bulb-12 .base .bulb {
  box-shadow: 0 0 24px #f3cb2c;
  background-color: #f3cb2c;
}
.light-bulb-13 .base .bulb {
  box-shadow: 0 0 26px #f3cc2e;
  background-color: #f3cc2e;
}
.light-bulb-14 .base .bulb {
  box-shadow: 0 0 28px #f3cc31;
  background-color: #f3cc31;
}
.light-bulb-15 .base .bulb {
  box-shadow: 0 0 30px #f3cd33;
  background-color: #f3cd33;
}
.light-bulb-16 .base .bulb {
  box-shadow: 0 0 32px #f3cd36;
  background-color: #f3cd36;
}
.light-bulb-17 .base .bulb {
  box-shadow: 0 0 34px #f3ce38;
  background-color: #f3ce38;
}
.light-bulb-18 .base .bulb {
  box-shadow: 0 0 36px #f4cf3a;
  background-color: #f4cf3a;
}
.light-bulb-19 .base .bulb {
  box-shadow: 0 0 38px #f4cf3d;
  background-color: #f4cf3d;
}
.light-bulb-20 .base .bulb {
  box-shadow: 0 0 40px #f4d03f;
  background-color: #f4d03f;
}
.light-bulb-21 .base .bulb {
  box-shadow: 0 0 42px #f4d042;
  background-color: #f4d042;
}
.light-bulb-22 .base .bulb {
  box-shadow: 0 0 44px #f4d144;
  background-color: #f4d144;
}
.light-bulb-23 .base .bulb {
  box-shadow: 0 0 46px #f4d246;
  background-color: #f4d246;
}
.light-bulb-24 .base .bulb {
  box-shadow: 0 0 48px #f4d249;
  background-color: #f4d249;
}
.light-bulb-25 .base .bulb {
  box-shadow: 0 0 50px #f5d34b;
  background-color: #f5d34b;
}
.light-bulb-26 .base .bulb {
  box-shadow: 0 0 52px #f5d34e;
  background-color: #f5d34e;
}
.light-bulb-27 .base .bulb {
  box-shadow: 0 0 54px #f5d450;
  background-color: #f5d450;
}
.light-bulb-28 .base .bulb {
  box-shadow: 0 0 56px #f5d552;
  background-color: #f5d552;
}
.light-bulb-29 .base .bulb {
  box-shadow: 0 0 58px #f5d555;
  background-color: #f5d555;
}
.light-bulb-30 .base .bulb {
  box-shadow: 0 0 60px #f5d657;
  background-color: #f5d657;
}
.light-bulb-31 .base .bulb {
  box-shadow: 0 0 62px #f5d65a;
  background-color: #f5d65a;
}
.light-bulb-32 .base .bulb {
  box-shadow: 0 0 64px #f5d75c;
  background-color: #f5d75c;
}
.light-bulb-33 .base .bulb {
  box-shadow: 0 0 66px #f6d85f;
  background-color: #f6d85f;
}
.light-bulb-34 .base .bulb {
  box-shadow: 0 0 68px #f6d861;
  background-color: #f6d861;
}
.light-bulb-35 .base .bulb {
  box-shadow: 0 0 70px #f6d963;
  background-color: #f6d963;
}
.light-bulb-36 .base .bulb {
  box-shadow: 0 0 72px #f6d966;
  background-color: #f6d966;
}
.light-bulb-37 .base .bulb {
  box-shadow: 0 0 74px #f6da68;
  background-color: #f6da68;
}
.light-bulb-38 .base .bulb {
  box-shadow: 0 0 76px #f6db6b;
  background-color: #f6db6b;
}
.light-bulb-39 .base .bulb {
  box-shadow: 0 0 78px #f6db6d;
  background-color: #f6db6d;
}
.light-bulb-40 .base .bulb {
  box-shadow: 0 0 80px #f7dc6f;
  background-color: #f7dc6f;
}
.light-bulb-41 .base .bulb {
  box-shadow: 0 0 82px #f7dc72;
  background-color: #f7dc72;
}
.light-bulb-42 .base .bulb {
  box-shadow: 0 0 84px #f7dd74;
  background-color: #f7dd74;
}
.light-bulb-43 .base .bulb {
  box-shadow: 0 0 86px #f7dd77;
  background-color: #f7dd77;
}
.light-bulb-44 .base .bulb {
  box-shadow: 0 0 88px #f7de79;
  background-color: #f7de79;
}
.light-bulb-45 .base .bulb {
  box-shadow: 0 0 90px #f7df7b;
  background-color: #f7df7b;
}
.light-bulb-46 .base .bulb {
  box-shadow: 0 0 92px #f7df7e;
  background-color: #f7df7e;
}
.light-bulb-47 .base .bulb {
  box-shadow: 0 0 94px #f8e080;
  background-color: #f8e080;
}
.light-bulb-48 .base .bulb {
  box-shadow: 0 0 96px #f8e083;
  background-color: #f8e083;
}
.light-bulb-49 .base .bulb {
  box-shadow: 0 0 98px #f8e185;
  background-color: #f8e185;
}
.light-bulb-50 .base .bulb {
  box-shadow: 0 0 100px #f8e287;
  background-color: #f8e287;
}
.light-bulb-51 .base .bulb {
  box-shadow: 0 0 102px #f8e28a;
  background-color: #f8e28a;
}
.light-bulb-52 .base .bulb {
  box-shadow: 0 0 104px #f8e38c;
  background-color: #f8e38c;
}
.light-bulb-53 .base .bulb {
  box-shadow: 0 0 106px #f8e38f;
  background-color: #f8e38f;
}
.light-bulb-54 .base .bulb {
  box-shadow: 0 0 108px #f9e491;
  background-color: #f9e491;
}
.light-bulb-55 .base .bulb {
  box-shadow: 0 0 110px #f9e594;
  background-color: #f9e594;
}
.light-bulb-56 .base .bulb {
  box-shadow: 0 0 112px #f9e596;
  background-color: #f9e596;
}
.light-bulb-57 .base .bulb {
  box-shadow: 0 0 114px #f9e698;
  background-color: #f9e698;
}
.light-bulb-58 .base .bulb {
  box-shadow: 0 0 116px #f9e69b;
  background-color: #f9e69b;
}
.light-bulb-59 .base .bulb {
  box-shadow: 0 0 118px #f9e79d;
  background-color: #f9e79d;
}
.light-bulb-60 .base .bulb {
  box-shadow: 0 0 120px #f9e8a0;
  background-color: #f9e8a0;
}
.light-bulb-61 .base .bulb {
  box-shadow: 0 0 122px #fae8a2;
  background-color: #fae8a2;
}
.light-bulb-62 .base .bulb {
  box-shadow: 0 0 124px #fae9a4;
  background-color: #fae9a4;
}
.light-bulb-63 .base .bulb {
  box-shadow: 0 0 126px #fae9a7;
  background-color: #fae9a7;
}
.light-bulb-64 .base .bulb {
  box-shadow: 0 0 128px #faeaa9;
  background-color: #faeaa9;
}
.light-bulb-65 .base .bulb {
  box-shadow: 0 0 130px #faebac;
  background-color: #faebac;
}
.light-bulb-66 .base .bulb {
  box-shadow: 0 0 132px #faebae;
  background-color: #faebae;
}
.light-bulb-67 .base .bulb {
  box-shadow: 0 0 134px #faecb0;
  background-color: #faecb0;
}
.light-bulb-68 .base .bulb {
  box-shadow: 0 0 136px #fbecb3;
  background-color: #fbecb3;
}
.light-bulb-69 .base .bulb {
  box-shadow: 0 0 138px #fbedb5;
  background-color: #fbedb5;
}
.light-bulb-70 .base .bulb {
  box-shadow: 0 0 140px #fbedb8;
  background-color: #fbedb8;
}
.light-bulb-71 .base .bulb {
  box-shadow: 0 0 142px #fbeeba;
  background-color: #fbeeba;
}
.light-bulb-72 .base .bulb {
  box-shadow: 0 0 144px #fbefbc;
  background-color: #fbefbc;
}
.light-bulb-73 .base .bulb {
  box-shadow: 0 0 146px #fbefbf;
  background-color: #fbefbf;
}
.light-bulb-74 .base .bulb {
  box-shadow: 0 0 148px #fbf0c1;
  background-color: #fbf0c1;
}
.light-bulb-75 .base .bulb {
  box-shadow: 0 0 150px #fcf0c4;
  background-color: #fcf0c4;
}
.light-bulb-76 .base .bulb {
  box-shadow: 0 0 152px #fcf1c6;
  background-color: #fcf1c6;
}
.light-bulb-77 .base .bulb {
  box-shadow: 0 0 154px #fcf2c9;
  background-color: #fcf2c9;
}
.light-bulb-78 .base .bulb {
  box-shadow: 0 0 156px #fcf2cb;
  background-color: #fcf2cb;
}
.light-bulb-79 .base .bulb {
  box-shadow: 0 0 158px #fcf3cd;
  background-color: #fcf3cd;
}
.light-bulb-80 .base .bulb {
  box-shadow: 0 0 160px #fcf3d0;
  background-color: #fcf3d0;
}
.light-bulb-81 .base .bulb {
  box-shadow: 0 0 162px #fcf4d2;
  background-color: #fcf4d2;
}
.light-bulb-82 .base .bulb {
  box-shadow: 0 0 164px #fdf5d5;
  background-color: #fdf5d5;
}
.light-bulb-83 .base .bulb {
  box-shadow: 0 0 166px #fdf5d7;
  background-color: #fdf5d7;
}
.light-bulb-84 .base .bulb {
  box-shadow: 0 0 168px #fdf6d9;
  background-color: #fdf6d9;
}
.light-bulb-85 .base .bulb {
  box-shadow: 0 0 170px #fdf6dc;
  background-color: #fdf6dc;
}
.light-bulb-86 .base .bulb {
  box-shadow: 0 0 172px #fdf7de;
  background-color: #fdf7de;
}
.light-bulb-87 .base .bulb {
  box-shadow: 0 0 174px #fdf8e1;
  background-color: #fdf8e1;
}
.light-bulb-88 .base .bulb {
  box-shadow: 0 0 176px #fdf8e3;
  background-color: #fdf8e3;
}
.light-bulb-89 .base .bulb {
  box-shadow: 0 0 178px #fef9e5;
  background-color: #fef9e5;
}
.light-bulb-90 .base .bulb {
  box-shadow: 0 0 180px #fef9e8;
  background-color: #fef9e8;
}
.light-bulb-91 .base .bulb {
  box-shadow: 0 0 182px #fefaea;
  background-color: #fefaea;
}
.light-bulb-92 .base .bulb {
  box-shadow: 0 0 184px #fefaed;
  background-color: #fefaed;
}
.light-bulb-93 .base .bulb {
  box-shadow: 0 0 186px #fefbef;
  background-color: #fefbef;
}
.light-bulb-94 .base .bulb {
  box-shadow: 0 0 188px #fefcf1;
  background-color: #fefcf1;
}
.light-bulb-95 .base .bulb {
  box-shadow: 0 0 190px #fefcf4;
  background-color: #fefcf4;
}
.light-bulb-96 .base .bulb {
  box-shadow: 0 0 192px #fefdf6;
  background-color: #fefdf6;
}
.light-bulb-97 .base .bulb {
  box-shadow: 0 0 194px #fffdf9;
  background-color: #fffdf9;
}
.light-bulb-98 .base .bulb {
  box-shadow: 0 0 196px #fffefb;
  background-color: #fffefb;
}
.light-bulb-99 .base .bulb {
  box-shadow: 0 0 198px #fffffe;
  background-color: #fffffe;
}
.light-bulb-100 .base .bulb {
  box-shadow: 0 0 200px white;
  background-color: white;
}
